.delete-users-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-users-page-title {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.delete-user-input {
    width: 100%;
    padding: 16px 12px;
    background-color: black;
    color: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    height: 50px;
    box-sizing: border-box;
}

.delete-user-input::placeholder {
    color: gray;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    font-size: 16px;
}

.delete-user-input:focus::placeholder {
    top: 8px;
    left: 10px;
    font-size: 12px;
    color: #50b92d;
    transform: translateY(0);
}

.delete-user-input:focus {
    border-color: #50b92d;
    outline: none;
}

.delete-user-button {
    width: 100%;
    background-color: #e3342f;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.delete-user-button:hover {
    background-color: #cc1f1a;
}

.delete-user-message {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
}
